<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jake Pajerski">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jake Pajerski professional website">
    <title>CV</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Jake Pajerski</h1>
        <nav>
            <a href="../index.html">About</a>
            <a href="cv.html">Resume</a>
            <a href="fun.html">Play</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Albert Gallatin Area High School</td>
                <td>I graduated from Albert Gallatin Area High School in Uniontown, PA, as part of the Class of 2024. Throughout my high school years, I pursued a rigorous academic path, taking 4 Advanced Placement (AP) courses, all of which I passed with successful results on the corresponding exams. Additionally, I enrolled in 3 College in High School (CHS) courses, 6 honors classes, and 2 other college courses outside of school to earn college credit. Beyond academics, I also participated in a variety of extracurricular activities.</td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Currently, I am a freshman at Carnegie Mellon University in Pittsburgh, PA, where I am part of the Class of 2028. I am majoring in Information Systems at both the Heinz College of Information Systems and Public Policy and the Dietrich College of Humanities and Social Sciences. In my first semester, I earned a place on the Dean’s List with High Honors and became involved in clubs such as Quiz Bowl.</td>
            </tr>
            <tr>
                <td>Car Detailing Business</td>
                <td>My car detailing includes washing and scrubbing the outside of the car, cleaning and shining the tires, vacuuming the inside, wiping down the inside, cleaning the floor mats, cleaning the windows, and ensuring the cleanliness and organization of the customer’s car.</td>
            </tr>
            <tr>
                <td>Soccer Referee</td>
                <td>Being a soccer referee involves overseeing the game to ensure that it is played fairly and within the rules. Referees are responsible for making decisions on fouls, goals, and timekeeping, while maintaining control of the game and managing player behavior. It requires quick decision-making, strong knowledge of the rules, and the ability to remain calm under pressure.</td>
            </tr>
        </table>
        <p><a href="../static/Resume%20-%20Jake%20Pajerski.pdf" target="blank">My resume (pdf)</a></p>
    </div>
    <footer>&copy; 2025 designed &#x1F3A8; and coded &#x1F9D1;&#x200D;&#x1F4BB; by Jake Pajerski</footer>
</body>
</html>