<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jake Pajerski">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jake Pajerski professional website">
    <title>CV</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Jake Pajerski</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Albert Gallatin Area High School</td>
                <td>I graduated from Albert Gallatin Area High School in Uniontown, PA, as part of the Class of 2024. Throughout my high school years, I pursued a rigorous academic path, taking 4 Advanced Placement (AP) courses, all of which I passed with successful results on the corresponding exams. Additionally, I enrolled in 3 College in High School (CHS) courses, 6 honors classes, and 2 other college courses outside of school to earn college credit. Beyond academics, I also participated in a variety of extracurricular activities.</td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Currently, I am a freshman at Carnegie Mellon University in Pittsburgh, PA, where I am part of the Class of 2028. I am majoring in Information Systems at both the Heinz College of Information Systems and Public Policy and the Dietrich College of Humanities and Social Sciences. In my first semester, I earned a place on the Dean’s List with High Honors and became involved in clubs such as Quiz Bowl.</td>
            </tr>
        </table>
        <p><a href="../static/Resume - Jake Pajerski.pdf" target="blank">My resume (pdf)</a></p>
    </div>
    <footer>&copy; 2025 designed &#x1F3A8; and coded &#x1F9D1;&#x200D;&#x1F4BB; by Jake Pajerski</footer>
</body>
</html>