<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jake Pajerski">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Jake Pajerski professional website">
    <title>Jake Pajerski</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script defer src="../static/script.js"></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Jake Pajerski</h1>
        <nav>
            <a href="../index.html">About</a>
            <a href="cv.html">Resume</a>
            <a href="fun.html">Play</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <button id="showButton" onclick="showList()">Click to see...</button>
        <ul id="myList">
            <li>Soccer</li>
            <li>Running</li>
            <li>Lifting</li>
            <li>Reading</li>
            <li>Trivia</li>
        </ul>
    </div>
    <footer>designed &#x1F3A8; and coded &#x1F9D1;&#x200D;&#x1F4BB; by Jake Pajerski <span id="copyYear"></span></footer>
</body>
</html>